@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Buying your own PC parts is a rewarding experience. With our new approach,
        we'll help you to be sure that the compatibility of your selected PC parts is just right.
    </p>
    
</div>
