@model WebApplication_Project.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer_ID" class="control-label"></label>
                <input asp-for="Customer_ID" class="form-control" />
                <span asp-validation-for="Customer_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipping_Address" class="control-label"></label>
                <input asp-for="Shipping_Address" class="form-control" />
                <span asp-validation-for="Shipping_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Address" class="control-label"></label>
                <input asp-for="Order_Address" class="form-control" />
                <span asp-validation-for="Order_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Email" class="control-label"></label>
                <input asp-for="Order_Email" class="form-control" />
                <span asp-validation-for="Order_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Date" class="control-label"></label>
                <input asp-for="Order_Date" class="form-control" />
                <span asp-validation-for="Order_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Status" class="control-label"></label>
                <input asp-for="Order_Status" class="form-control" />
                <span asp-validation-for="Order_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
