@model WebApplication_Project.ViewModels.UserDetailsViewModel

<h1>@Model.Name</h1>

<p>
    ID: @Model.ID
    <br />
    Adress: @Model.Adress
    <br />
   
</p>

@Html.ActionLink("Back", "Index", "Role")