@model WebApplication_Project.ViewModels.UserDetailsViewModel

<h1>@Model.FirstName</h1>

<p>
    ID: @Model.ID
    <br />
    Adress: @Model.Dafault_Shpping_Address
    <br />
   
</p>

@Html.ActionLink("Back", "Index", "Role")